* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./imagens/fundo-madeira.jpg') fixed center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.celular {
  position: relative;
  width: 300px;
}

.moldura {
  width: 100%;
  display: block;
}

.tela {
  position: absolute;
  top: 12%;
  left: 6%;
  width: 88%;
  height: 77%;
  overflow-y: auto;
  background: white;
  display: none;
  
  scrollbar-width: thin;
  scrollbar-color: rgba(91, 91, 91, 0.73) transparent;
}

#tela-github,
#tela-youtube,
#tela-facebook {
  overflow-y: scroll;
}

.tela::-webkit-scrollbar {
  width: 1px;
}

.tela::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.467);
}

.tela::-webkit-scrollbar-track {
  background: transparent;
}

#tela-home {
  display: block;
  overflow-y: hidden;
}

#home:target ~ .celular #tela-home,
#github:target ~ .celular #tela-github,
#youtube:target ~ .celular #tela-youtube,
#facebook:target ~ .celular #tela-facebook {
  display: block;
}

.redes-sociais {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.redes-sociais a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
  border: 1px solid rgb(132, 132, 132);
}

.redes-sociais a:hover {
  transform: scale(1.1);
  border: 1px solid rgb(255, 255, 255);
}

.redes-sociais img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tela img {
  width: 100%;
  display: block;
}